.footer {
	padding: 2rem 0;
}

.social-list {
	height: 100%;
	list-style-type: none;
	margin-left: 0;
}

.social-list li {
	display: inline-block;
}

.social-list a {
	padding: 0 .25rem;
	text-decoration: none;
	color: var(--gray2);
}

.copyright {
	display: block;
	color: var(--gray2);
}