.footer {
	height: 90px;
	padding-left: 1rem;
	padding-right: 1rem;
	width: 100vw;
}

.footer--dark {
	background-color: var(--gray5);
	color: var(--gray1);
}

.social-list {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin-left: 0;
	margin-bottom: 0;
}

.social-list li {
	text-transform: uppercase;
}

.social-list a {
	text-decoration: none;
	color: var(--gray2);
}

.copyright {
	display: block;
	color: var(--gray2);
}

@media screen and (min-width: 601px) {

}

@media screen and (min-width: 1240px) {
	.social-list {
		/*justify-content: flex-start;*/
	}
}