.hero-image {
	width: 100vw;
	margin-bottom: calc(var(--body-size) * 2);
	margin-left: calc(var(--body-size)*-1);
	margin-right: calc(var(--body-size)*-1);
	margin-top: calc(var(--body-size)*-1);
}

.hero-image img {
	margin-bottom: 0;
}

.hero-image figcaption {
	margin-left: var(--body-leading);
	margin-right: var(--body-leading);
}

.work-samples {
	width: 100%;
}

.work-samples a {
	display: block;
	margin-bottom: calc(var(--body-size) * 2);
	width: 100%;
}

.work-samples a img {
	margin-bottom: var(--body-size);
}

.work-samples h5 {
	color: var(--gray5);
	margin-bottom: 0;
}

/*Media Queries*/
@media screen and (min-width: 760px) {
	.hero-image {
		margin-left: calc(var(--body-size)*-2);
		margin-right: calc(var(--body-size)*-2);
	}
}
