.featured {
	margin-top: calc(var(--body-size)* -2);
}
.landing-header {
	margin-left: calc(var(--body-size)*-1);
	margin-right: calc(var(--body-size)*-1);
}

.landing-header .cover-image {
	margin-bottom: 0;
}

.landing-header figcaption {
	margin-left: var(--body-size);
	margin-right: var(--body-size);
}

.work-samples a {
	display: block;
	width: 100%;
}

.work-samples a img {
	margin-bottom: var(--body-size);
}

.work-samples h5 {
	color: var(--gray5);
	margin-bottom: 0;
}

/*Media Queries*/
@media screen and (min-width: 760px) {
	.hero-image {
		margin-left: calc(var(--body-size)*-2);
		margin-right: calc(var(--body-size)*-2);
	}
}
