.mainHeader {
	display: flex;
	height: 90px;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 1rem 1rem;
	position: fixed;
	top: 0;
	grid-column-gap: 1rem;
	width: 100vw;
	z-index: 99;
}

.mainHeader--light {
	background-color: white;
}

.mainHeader h3 {
	margin: 0;
}

.header-logo {
	color: var(--gray5);
	font-family: var(--header-font);
	font-weight: 400;
	font-size: 2rem;
}

.mainNav {
}

.header-logo, .nav-item {
	text-decoration: none;
	position: relative;
	z-index: 101;
}

.header-logo--light {
	color: var(--gray1);
}

.header-logo--dark {
	color: var(--gray5);
}

.nav-item {
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	color: var(--gray3);
	padding: calc(var(--body-size) / 4);
}

.mainHeader .active {
	font-weight: var(--text-weight2);
	color: var(--gray5);
}

.menuButton {
	position: relative;
	z-index: 101;
}

.mainHeader--dark .nav-item {
	color: var(--gray1);
}

.mainHeader--dark .active {
	color: var(--gray1);
}

.mainHeader--dark {
	background-color: var(--gray5);
}

.mainHeader--dark .header-logo--dark {
	color: var(--gray1);
}

.mainHeader .navHeading--light {
	color: var(--gray1);
}

@media screen and (max-width: 600px) {
	.mainHeader .nav-item {
		display: none;
	}
}

@media screen and (min-width: 601px) {
	.mainHeader {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	.menuButton {
		display: none;
	}
}

@media screen and (min-width: 1399px) {
  .mainHeader {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}


