/*Mobile styles*/
	.mainHeader {
		align-items: center;
		display: flex;
		/*height: 44px;*/
		justify-content: space-between;
		overflow: hidden;
		max-width: 1250px;
		padding: calc(var(--body-size)/2) var(--body-size);
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		width: 100%;
		z-index: 99;
	}
	.mainHeader--light {
		background-color: white;
	}
	.header-logo {
		color: var(--gray5);
	}
	.header-logo h3 {
		font-family: var(--header-font);
		font-weight: 400;
		margin: 0;
		font-size: var(--heading-size2);
	}
	.mainNav {
		height: 100%;
		display: flex;
		align-items: center;
	}
	.header-logo, .nav-item {
		text-decoration: none;
		position: relative;
		z-index: 101;
	}
	.header-logo--light {
		color: var(--gray1);
	}
	.header-logo--dark {
		color: var(--gray5);
	}
	.nav-item {
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: center;
		color: var(--gray3);
		padding-left: calc(var(--body-size) / 4);
		padding-right: calc(var(--body-size) / 4);
	}
	.mainHeader .active {
		font-weight: var(--text-weight2);
		color: var(--gray5);
	}
	.menuButton {
		background-color: transparent;
		border: none;
		margin: 0;
		padding-left: calc(var(--body-size)/2);
		position: relative;
		z-index: 101;
	}
	.menuButton:focus {
		outline-style: none;
	}
	.menuButton svg {
		display: inline-block;
		vertical-align: middle;
	}
	.mainHeader--dark .nav-item {
		color: var(--gray1);
	}
	.mainHeader--dark .active {
		color: var(--gray1);
	}
	.mainHeader--dark {
		background-color: var(--gray5);
	}
	.mainHeader--dark .header-logo--dark {
		color: var(--gray1);
	}
	.mainHeader .navHeading--light {
		color: var(--gray1);
	}

	@media screen and (max-width: 600px) {
		.mainHeader .nav-item {
			display: none;
		}
	}

	@media screen and (min-width: 601px) {
		.mainHeader {
			padding-top: var(--body-size);
			padding-bottom: var(--body-size);
		}
		.header-logo h3 {
			font-size: 1.5rem;
		}
		.menuButton {
			display: none;
			padding: 0;
		}
	}

/*Small tablet styles*/
	@media screen and (min-width: 768px) {
		.mainHeader {
			padding-left: calc(var(--body-size)*2);
			padding-right: calc(var(--body-size)*2);
		}
	}

/*Desktop styles*/
	@media screen and (min-width: 1236px) {
	  .mainHeader {
	    margin-right: auto;
	    margin-left: auto;
	    padding-left: 0;
	    padding-right: 0;
	  }
	}

