.rec-office header {
	margin-bottom: var(--body-size);
}

.rec-office header img {
	margin-bottom: inherit;
}

.rec-office header h2 {
	margin-bottom: calc(var(--body-size)/4);
}

.office-info {
	font-weight: var(--text-weight2);
}

.office-info a {
	color: inherit;
	display: block;
	margin-bottom: calc(var(--body-size)/2);
}

.office-info address, .office-contact {
	margin-bottom: var(--body-size);
}

.office-info address {
	font-style: normal;
}

.office-email {
	border-bottom: 1px solid var(--accent1);
}

@media screen and (min-width: 601px) {
	.rec-office {
		grid-column: 1 / 3;
	}
	.office-info {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 800px) {
	.rec-office {
		grid-column: 1 / 4;
	}
}
@media screen and (min-width: 1399px) {
	.rec-office {
		grid-column: 1 / 5;
	}
	.rec-office h2 {
		font-size: calc(var(--heading-size1) * 1.5);
	}
	.header-image {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
}