.project-preview, .post-preview {
	text-decoration: none;
}

.project-thumb, .post-thumb {
	margin-bottom: 8.5px;
}

.project-title, .post-title {
	color: var(--gray5);
}

@media screen and (min-width: 601px) {
	.project-preview {
		display: flex;
		flex-direction: column;
	}
	.project-thumb {
		width: 100%;
	}
	.project-preview h2 {
		font-size: var(--body-size);
		font-weight: var(--heading-weight2);
	}
}