.profile-preview {
	color: var(--gray1);
	cursor: pointer;
	display: block;
	text-decoration: none;
	margin-bottom: calc(var(--body-size)*2);
}

.profile-preview .preview-image {
	margin-bottom: var(--body-size);
}

.profile-name {
	margin-bottom: 0;
}

.profile-preview p {
	color: var(--gray3)
}
