.project-preview {
	display: flex;
	flex-direction: column;
	color: var(--gray5);
	cursor: pointer;
	text-decoration: none;
	margin-bottom: calc(var(--body-size)*2);
}

.project-preview .preview-image {
	order: -1;
	margin-bottom: var(--body-size);
}
.project-title {
	margin-bottom: 0;
}
