.project {
	display: grid;
	grid-template-rows: max-content;
	line-height: var(--body-leading);
}

.project-header {
	margin-bottom: var(--body-size);
}

.project-header h1, .project-header h2, .project-disciplines {
	margin-bottom: inherit;
}

.project .cover-image {
	grid-column: 1 / -1;
}

.project-gallery {
	margin-bottom: 1rem;
}

.project-gallery .preview-image {
	object-fit: cover;
}

.project-details h6 {
	margin-bottom: calc(var(--body-size)/4);
}

.project-details ul{
	list-style-type: none;
	margin-bottom: var(--body-size);
	margin-left: 0;
}

.project-details li {
	margin-bottom: 0;
}

.project-disciplines, .project-sectors {
	color: var(--gray5);
	list-style-type: none;
	margin-left: 0;
	padding: 0;
}

.project-disciplines li {
	display: inline;
	margin-right: 8px;
}

.project-footer, .post-footer {
	margin-bottom: var(--body-size);
}

.project-footer a {
	text-decoration: none;
	color: var(--accent1);
}

@media screen and (min-width: 760px) {
	.project {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}
	.project-header {
		grid-column: 1 / 6;
	}
	.project .cover-image {
		grid-column: 1/-1;
	}
	.project-body {
		display: contents;
	}
	.project-description {
		grid-column: 1 / 6;
	}
	.project-gallery, .project-details {
		grid-column: 1 / -1;
	}
	.project-details {
		display: grid;
		grid-template-columns: repeat(2, fr);
		grid-auto-flow: column;
	}
}
