.project-preview {
	display: flex;
	flex-direction: column;
	color: var(--gray5);
	cursor: pointer;
	text-decoration: none;
}

.project-preview .preview-image {
	order: -1;
}
.project-title {
	margin-bottom: 0;
}
