/*Mobile styles*/
	.about,
	.blog,
	.contact,
	.contact__offices,
	.landing,
	.page-header,
	.preview-container,
	.work {
		display: grid;
	}
	.about,
	.blog,
	.contact,
	.landing,
	.page-header,
	.preview-container,
	.work {
		row-gap: calc(var(--size-body)*2);
	}
	.about,
	.blog,
	.contact,
	.landing,
	.work {
		padding: var(--size-body) 0;
	}
	.page-header {
		row-gap: var(--size-body);
	}
	.page-header > * {
		margin-bottom: 0;
	}
	.page-header--light p {
		color: var(--gray3);
		border-bottom: 1px solid var(--gray1);
	}
	.page-header--dark {
		color: var(--gray1);
	}
	.preview-container {
		grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
	}

/*Small tablet styles*/
	@media screen and (min-width: 768px) {
		.landing {
			margin-top: calc(var(--size-body)*-4);
		}
		.about {
			grid-template-columns: repeat(6, 1fr);
		}
		.about__header {
			grid-column: 1 / 6;
		}
		.about__gallery {
			grid-column: 1 / -1;
			grid-gap: var(--size-body);
		}
		.contact__offices {
			grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
			grid-column-gap: var(--size-body);
		}
		.preview-container {
			grid-column-gap: var(--size-body);
		}
	}

/*Large tablet styles*/
	@media screen and (min-width: 1024px) {

		.work__header p,
		.blog__header p {
			width: 45%;
		}
		/*About Page*/
		.about {
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: var(--size-body);
		}
		.about__header {
			grid-column: 1/-1;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: var(--size-body)
		}
		.about__header p {
			grid-column: 2;
		}

	}
