#astronaut {
	height: 100%;
	width: 100vw;
	margin-left: calc(var(--spacer) * -1);
}
.maskBackground {
	height: 100%;
	width: 100%;
	fill: white;
}
.maskLetter {
	text-anchor: middle;
	dominant-baseline: middle;
	font-family: var(--heading-font);
	font-weight: var(--black);
	font-size: 4em;
	fill: white;
	opacity: 0;
}
.svgImages {
	height: 100%;
	width: 100%;
}
#colorImage {
  filter: url(#colorFilter);
	mask: url(#messageMask);
	height: 100%;
	width: 100%
}

@media screen and (min-width: 600px) {
	#astronaut {
		margin-left: calc(var(--spacer) * -2);
	}
}

@media screen and (min-width: 1000px) {
	#astronaut {
		/* align-self: center; */
		grid-column: 1;
		height: auto;
		margin-left: 0;
		width: 100%;
	}
}