#astronaut {
	height: 100%;
	width: 100vw;
	margin-left: calc(var(--spacer) * -1);
}
.maskBackground {
	height: 100%;
	width: 100%;
	fill: white;
}
.maskLetter {
	text-anchor: middle;
	dominant-baseline: middle;
	font-family: var(--heading-font);
	font-weight: var(--black);
	font-size: 4em;
	fill: black;
}
.svgImages {
	height: 100%;
	width: 100%;
}
#colorImage {
  filter: url(#colorFilter);
	mask: url(#messageMask);
	height: 100%;
	width: 100%
}