#astronaut {
	width: 320px;
	height: 520px;
	margin-left: calc(var(--spacer) * -1);
}

@media screen and (min-width: 768px) {
	.landing-header .cover-image {
		margin-left: calc(var(--spacer)*-2);
		margin-right: calc(var(--spacer)*-2);
	}
}
