/*Mobile styles*/
	.rec-office,
	.rec-office__info {
		display: grid;
		row-gap: var(--size-body);
	}
	.rec-office__header > *,
	.rec-office__info > *,
	.rec-office__images .preview-image {
		margin-bottom: 0;
	}
	.rec-office__info {
		font-weight: var(--regular);
	}
	.rec-office__address {
		font-style: normal;
	}
	.rec-office__info a {
		color: inherit;
		display: block;
	}
	.rec-office__images {
		display: flex;
		flex-direction: column;
		grid-row: 1;
	}

/*Small tablet styles*/
	@media screen and (min-width: 768px) {
		.rec-office {
			margin-bottom: 0;
		}
		.rec-office__images {
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			grid-column-gap: var(--body-size);
		}
	}
