.preview {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}
.preview .preview-image {
  order: -1;
  margin-bottom: calc(var(--size-body)/2);
}
.preview h4,
.preview p {
  margin-bottom: 0;
}
.preview p {
  color: var(--gray3);
  font-weight: var(--medium);
}
.preview time {
  color: var(--gray3);
  display: block;
  font-weight: var(--text-weight1);
  margin-bottom: calc(var(--body-leading) / 3);
}
.preview:hover h4 {
  text-decoration: underline;
}
