.preview {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}
.preview .preview-image {
  order: -1;
}
.preview h4,
.preview p {
  margin-bottom: 0;
}
.preview-image {
  margin-bottom: calc(var(--spacer)/2);
}
.preview p {
  font-weight: var(--medium);
}
.preview time {
  color: var(--gray3);
  display: block;
  font-size: var(--size-small);
}
.preview:hover h4 {
  text-decoration: underline;
}
