.preview {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}
.preview--dark h4,
.preview--dark h5 {
  font-weight: var(--medium);
}
.preview--dark h5 {
  margin-top: 0;
  color: var(--gray3);
}
.preview .preview-image {
  order: -1;
}
.preview-image, .preview p {
  margin-bottom: 0;
}
.preview p {
  font-weight: var(--medium);
}
.preview time {
  color: var(--gray3);
  display: block;
  font-size: var(--size-small);
}
.preview:hover h4 {
  text-decoration: underline;
}
