/*Mobile styles*/
	.profile {
		color: var(--gray1);
		display: grid;
		padding: var(--size-body) 0;
	}
	.profile-header h1 {
		font-weight: var(--heading-weight1);
	}
	.profile-header span {
		color: var(--gray3);
	}
	.profile-header img {
		margin-bottom: 0;
	}
	.profile h6 {
		border-bottom: 1px solid var(--gray3);
		color: inherit;
		font-weight: var(--heading-weight2);
		padding-bottom: calc(var(--body-size)/4);
		margin-bottom: calc(var(--body-size)/2);
	}
	.profile-info a {
		border-bottom: 1px solid var(--accent1);
		color: var(--gray1);
		display: inline-block;
		margin-right: 1rem;
		padding-bottom: calc(var(--body-size)/4);
	}

/*Small tablet styles*/
	@media screen and (min-width: 768px) {
		.profile {
			grid-template-columns: repeat(6, 1fr);
		}

		.profile-header {
			grid-column: 1 / 7;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: var(--body-size);
		}

		.profile-bio {
			grid-column: 1 / 6;
		}
		.profile-info {
			grid-column: 1 / 7;
		}
	}

/*Large tablet styles*/
	@media screen and (min-width: 1024px) {
		.profile {
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: var(--body-size);
		}
		.profile-header {
			display: contents;
		}
		.profile-header .preview-image {
			grid-row-end: span 2;
			position: -webkit-sticky;
			position: sticky;
			top: 100px;
		}
		.profile-bio {
			grid-column: 1;
			grid-row-end: span 2;
			padding-right: var(--body-size);
		}
		.profile-info {
			grid-column: 1/-1;
		}
	}
