/*Mobile styles*/
	.profile,
	.profile-header,
	.profile-bio,
	.profile-info {
		display: grid;
	}
	.profile {
		color: var(--gray1);
		padding: var(--size-body) 0;
		row-gap: calc(var(--size-body)*2);
	}
	.profile-header > *,
	.profile-bio > *,
	.profile-info > * {
		margin-bottom: 0;
	}
	.profile-header,
	.profile-bio {
		row-gap: var(--size-body);
	}
	.profile-header h2 {
		font-weight: var(--regular);
	}
	.profile-header span {
		color: var(--gray3);
	}
	.profile-info {
		column-gap: var(--size-body);
		grid-template-columns: repeat(2, 1fr);
		row-gap: calc(var(--size-body)/2);
	}
	.profile-info h6 {
		border-bottom: 1px solid var(--primary);
		color: inherit;
		font-weight: var(--medium);
		grid-column: 1/-1;
		padding-bottom: calc(var(--size-body)/2);
	}
	.profile-info a {
		border-bottom: 1px solid var(--accent1);
		color: var(--gray1);
	}

/*Small tablet styles*/
	@media screen and (min-width: 768px) {
		.profile {
			grid-template-columns: repeat(6, 1fr);
		}

		.profile-header {
			grid-column: 1 / 7;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: var(--body-size);
		}

		.profile-bio {
			grid-column: 1 / 6;
		}
		.profile-info {
			grid-column: 1 / 7;
		}
	}

/*Large tablet styles*/
	@media screen and (min-width: 1024px) {
		.profile {
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: var(--body-size);
		}
		.profile-header {
			display: contents;
		}
		.profile-header .preview-image {
			grid-row-end: span 2;
			position: -webkit-sticky;
			position: sticky;
			top: 100px;
		}
		.profile-bio {
			grid-column: 1;
			grid-row-end: span 2;
			padding-right: var(--body-size);
		}
		.profile-info {
			grid-column: 1/-1;
		}
	}
